S3method(plot,plsda)
S3method(print,desda)
S3method(print,disqual)
S3method(print,geoda)
S3method(print,linda)
S3method(print,plsda)
S3method(print,quada)
S3method(print,qualmca)
export(FRatio)
export(betweenCov)
export(betweenSS)
export(binarize)
export(classify)
export(corRatio)
export(desDA)
export(discPower)
export(disqual)
export(easyMCA)
export(geoDA)
export(getWithin)
export(groupMeans)
export(groupMedians)
export(groupQuants)
export(groupStds)
export(groupVars)
export(linDA)
export(plsDA)
export(quaDA)
export(totalCov)
export(totalSS)
export(withinCov)
export(withinSS)
